.logo {
    vertical-align: middle;
    margin: 29px 0px 30px 54px ;
}
.navigation {
    display: inline-block;
}
.nav_bar {
    display: inline-block;
    margin: 0 69px;
    vertical-align: middle;
}
.header_text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
}
.first_section {
    height:  316px;

}
.section1_img {
    width: 100%
}
.title1 {
    font-size: 40px;
    line-height: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3A3A3A;
    text-align: center;
    margin: 50px 0px;
}
.productframe {
    display: inline-block;
    width: 285px;
    height: 446px;
    margin-right: 32px;

}
.product1 {
    margin-left: 99px;
}
.productpic {
    height: 301px;
}
.product_textblock {
    background-color: #F4F5F7;
    height: 145px;

}
.product_title {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3A3A3A;
    padding-top: 16px;
    padding-left: 16px;
}
.product_text {
    font: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #898989;
    padding: 8px 0px 0px 16px
}
/* second section */
.title2 {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    text-align: center;
    margin: 72px 0px 0px 0px ;
}
.undertitle2 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 0 63px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #666666;
}
.miniboxes{
    height: 580px;
    width: 381px;
    display: inline-block;
    margin: 63px 20px 0 0;
}
.first_minibox {
    margin-left: 115px;
}
.minibox_img{
    height: 480px;

}
.minibox_text {
    font-size: 24px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
}
/* section 3 */

.desc_addinfo {
    margin-bottom: 37px;
    margin-top: 133px ;
}
.desc_title {
    font-size: 24px;
    margin: 0px 56px 0px 197px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
}
.addinfo {
    display: inline-block;
    font-size: 24px;
    color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.big_text1 {
    font-size: 16px;
    color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 30px 194px;
    width: 1026px;
}
.big_text2 {
    font-size: 16px;
    color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 1026px;
    margin-left: 194px;
    margin-bottom: 36px;
}
.sofabox {
    width: 1239px;
    height: 348px;
    margin-left: 87px;
}
.sofa {
    width: 605px;
    height: 348px;
}
#sofa_gap {
    margin-right: 19px;
}
/* section 4 */
.section4 {
    background-color: #FAF3EA;
    margin-top: 150px;
    height: 240px;
}
.section4_container {
    width: 1334px;
}
.section4_box1 {
    display: inline-block;
    width: 267px;
    margin: 100px 78.67px 100px 53px;
    vertical-align: top;
}
.section4_box2{
    display: inline-block;
    margin: 100px 78.67px 100px 0;
    width: 258px;
    vertical-align: top;
    

}
.section4_box3{
    display: inline-block;
    margin: 100px 78.67px 100px 0;
    width: 174px ;
    vertical-align: top;
    

}
.section4_box4 {
    display: inline-block;
    margin: 100px 78.67px 100px 0;
    vertical-align: top;
    margin-right: 53px;

}
.sect4_title {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #242424;
    text-align: center;
    vertical-align: top;
}
.sect4_text {
    color: #898989;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 2px;
    text-align: center;
    vertical-align: top;
}
/* footer */
.footeri {
    height: 505px;
}
.footeri_container {
    width: 791px;
}
.footer_leftbox {
display: inline-block;
width: 285px;
padding: 48px 0 421px 100px;
vertical-align: top;


}
.footer_title {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}
.underfooter_title {
    color: #9F9F9F;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 50px;
}
.footer_midbox {
    margin-left: 136px;
    display: inline-block;
    width: 68px;
    height: 312px;
    vertical-align: top;
    margin-right: 144px;
    
}
.links_title {
    color:#9F9F9F ; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top:  48px;
    margin-bottom: 55px;
}
.footer_list {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    margin-bottom: 45px;
}
.link_color {
    color: #000000;
}
.footer_rightbox {
    display: inline-block;
    width: 140px;
    vertical-align: top;
    height: 242px;
}