.logo {
    vertical-align: middle;
    margin: 29px 0px 30px 54px ;
}
.navigation {
    display: inline-block;
}
.nav_bar {
    display: inline-block;
    margin: 0 69px;
    vertical-align: middle;
}
.header_text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
}
.first_section {
    height:  316px;

}
.section1_img {
    width: 100%
}